:root{
    --fdeveloper :rgb(33, 72, 64);
}
.contact-title{
    margin-left:8%;
    font-family: Passion One, sans-serif;
    padding-top:5vh;
}

.contact-title h3{
    font-size: 2.8rem;
    color:white;
}

.contact-datas{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    width:84%;
    margin-left:8%;
    margin-right:auto;
    margin-top:2rem;
    text-align: center;
    font-family: Raleway, sans-serif;

}

.contact-datas p{
    padding-top: 1rem;
    font-weight: bold;
    letter-spacing: 1px;
    padding-bottom:3rem;
    color:white;
    letter-spacing: 2px;
    padding-left:10px;
    padding-right: 10px;
}


.contact-icon-phone{
    width:40px;
    height:50px;
    
}

.contact-icon-email{
    height:50px;
    width:58px;

}

.contact-icon-address{
    height: 50px;
    width:38px;
}


.faIcon{
    font-size: 1.5rem;
    color:rgb(166, 237, 217);
}

.contact-background{
    background-color:var(--fdeveloper);
}